.home-page {
    height: 100vh;
    background: rgba(90,135,234,0.5);
}

.navbar {
    background: #5680e9;
    position: fixed;
    z-index: 1;
}

.navbar-item {
    background: transparent !important;
}

.landing-page {
    padding-top: 6rem;
    height: 100vh;
    justify-content: center;
}

.home-page-content {
    position: absolute;
    top: 30rem;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.testimonials-card {
    margin-top: 4rem;
    height: 15rem;
    width: 100%;
}

.testimonials-card-in-mobile {
    height: 40rem !important;
}

.footer {
    width: 100%;
    z-index: 1;
    background: #5680e9 !important;
}

.other-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #5680e9 !important;
}

.headings {
    font-family: 'Raleway', sans-serif;
}

.content {
    font-family: 'Merriweather', serif;
}

.about {
    padding-top: 5rem;
    font-size: 20px;
}

.events {
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.about-in-mobile {
    padding-left: 20px;
    padding-right: 20px;
}