body {
    height: 100vh;
    background: rgba(90,135,234,0.5);
}

.navbar {
    background: #5680e9;
    position: fixed;
    z-index: 1;
}

.navbar-item {
    background: transparent !important;
}

.landing-page {
    padding-top: 6rem;
    justify-content: center;
}

.home-page-content {
    position: absolute;
    top: 30rem;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

footer {
    padding-top: 3rem;
    /*
    position: absolute !important;
    bottom: 0 !important;
    */
    width: 100%;
    z-index: 1;
    background: #5680e9 !important;
}

.headings {
    font-family: 'Raleway', sans-serif;
}

.content {
    font-family: 'Merriweather', serif;
}
